.benefit__products_section-title {
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .benefit__products_section-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .benefit__products_section-title {
        line-height: 1.3;
    }
}