.benefit__products {
    display: grid;
    grid-template-columns: 384px 1fr;
    margin: 0;
    column-gap: 126px;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .benefit__products {
      column-gap: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .benefit__products {
      column-gap: 70px;
    }
}

@media screen and (max-width: 767px) {
    .benefit__products {
        display: flex;
        flex-direction: column;
        padding: 0;
        /* grid-template-columns: 1fr; */
    }
}
