.benefit__activity_info {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 99px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .benefit__activity_info {
        margin: 0;
        justify-content: center;

    }
}

@media screen and (max-width: 767px) {
    .benefit__activity_info {
        padding: 10px 16px 0;
    }
}