.guide__section-title {
    margin: 111px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .guide__section-title {
        margin: 0;
    }
}

@media screen and (max-width: 1023px) {
    .guide__section-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .guide__section-title {
       line-height: 1.3;
       padding: 30px 16px 0;
    }
}
