.rent__section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin: 135px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .rent__section-title {
        margin: 0;
    }
}

@media screen and (max-width: 1023px) {
    .rent__section-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .rent__section-title {
       line-height: 1.3;
       padding: 0 16px;
    }
}