.root {
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}
